{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}

    <div class="album py-5 bg-light">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(properties, 'Id'|trans({foo:'bar'},'messages'), 'p.id' )|raw }}</th>
                        <th{% if properties.isSorted('p.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(properties, 'Title', 'p.title')|raw }}</th>
                        <th>{{ knp_pagination_sortable(properties, 'Price'|trans({}, 'messages'), 'p.price' )|raw }}</th>
                        </tr>

                        <!-- Content of the table -->
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="count">
                        Number of Properties : {{ properties.getTotalItemCount }}
                    </div>
                </div>
            </div>

            <div class="row">
                {% for property in properties %}
                    {% include 'property/property.html.twig' %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="pagination">
                    {{ knp_pagination_render(properties) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
