{% extends 'base.html.twig' %}

{% block title %}Gérer les biens{% endblock %}

{% block body %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Administration</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="{{ path('admin.property.new') }}" class="btn btn-primary my-2">Ajouter un bien</a>
        <a href="{{ path('admin.property.index') }}" class="btn btn-secondary my-2">List Of properties</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

    <div class="row">
        <div class="col-md-12">
          {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        </div>
      </div>

      <div class="row">

        <table class="table table_properties">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Solde</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                    
                <tr>
                <th scope="row">{{ property.id }}</th>
                <td>{{ property.title }}</td>
                <td>{% if property.sold is empty %}Non{% else %}Oui{% endif %}</td>
                <td>
                    <a href="{{ path('admin.property.edit', {'id': property.id}) }}" class="btn btn-secondary btn_edit">Edit</a>
                    
                    <form class="form_delete" action="{{ path('admin.property.delete', {'id': property.id}) }}" method="post" onsubmit="return confirm('Do you really want to delete this property?');">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}" />
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </td>
                </tr>   
        
            {% endfor %}
            </tbody>
        </table>
      
      </div>
    </div>
  </div>

</main>

{% endblock %}
